extends layout

block content
    .body
        div(class="container")
            form(class="form-horizontal", role="form", method="get", action="/addcomic/success")
                div(class="form-group")
                    label(class="control-label col-sm-2", for="comicname") Comic Name:
                    div(class="col-sm-10")
                        input(type="email", class="form-control", id="email", placeholder="Enter name")
                
                div(class="form-group")
                    label(class="control-label col-sm-2", for="comicdescription") Comic Description:
                    div(class="col-sm-10")
                        input(type="email", class="form-control", id="email", placeholder="Enter description")
                  
                div(class="form-group")
                    label(class="control-label col-sm-2", for="comicimage") Upload image:
                    div(class="col-sm-10")
                        form(method="post", enctype="multipart/form-data", action="/addcomic/api/photo")
                            input(type="file", name="comicimage")
                        
                div(class="form-group")
                    div(class="col-sm-offset-2 col-sm-10")
                        input(type="submit", class="btn btn-default", method="get", action="/addcomic/success", value="Submit")