extends layout

block content
    .body
        .col-sm-8
            h1.title.inline 
                = " " + comicname
            span 
            span &#9734
            span &#9734
            span &#9734
            span &#9734
            span &#9734
            span &#9734
            span &#9734
            div(id="centered")
                div
                    p Author: 
                        = authorname
                    p Description:
                        = " " + description
                
                form(name="writeReview", action="/readComicReview", method="post")
                    button.btn.btn-default.col-sm-2(type="submit", name="comicname", value= comicname)
                        = "Read Review"
                br
                br
                
                form(name="writeReview", action="/writeComicReview", method="post")
                    input(name="comicowner", type="hidden", value=username)
                    button.btn.btn-default.col-sm-2(type="submit", name="comicname", value= comicname)
                        = "Write Review"
                br
                br
                
                div(class="span3")
                    table(class="table table-striped")
                        thead
                            tr
                                th Get this comic
                        tbody
                            tr
                                td Username: 
                                    = " " + username
                                td User rating: 
                                    = "rating"  
        .col-sm-4
            img(src='/images/comicPics/' + covertitle, height = "80")
