extends layout

block content
    .body
        div(class="container")
            form(class="form-horizontal", action="/rentals/updateRental", method="post")
                input(name="comicid", type="hidden", value=comicid)
                | If this comic has been rented, please enter the username of the renter:  
                input(type="text", name="renter")
                br
                input(type="submit", value="Submit")
                br
                br
            form(class="form-horizontal", action="/rentals/completeRental", method="post")
                input(name="comicid", type="hidden", value=comicid)
                label.control-label.checkbox-inline(type="checkbox")
                    input(type="checkbox", name="status", value="returned")
                    | This comic has been returned
                br
                br
                input(type="submit", value="Submit")