doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', crossorigin="anonymous")
		script(src="/node_modules/jquery/dist/jquery.min.js", type="text/javascript")
	body
		nav.navbar.navbar-default.navbar-fixed-top
			div.container-fluid
				div.navbar-header
					a.navbar-brand(href="/")
						img(alt="Brand", src='/images/logo.png', height="50", width="50")
				if user
					div.nav.navbar-nav
		block content