extends layout

block content
	.body
		.col-sm-4
			h1.title.inline.slide-right 
				= " " + name
				if (authLevel < 2)
					a.default-font-size(href="/profile/edit") (edit)
				span 
					each star in [1,2,3,4,5,6,7]
						if (star <= rating)
							span &#9733
						else
							span &#9734
		.col-sm-9
			div.slide-right
				div.float-left
					img(src = image, height = "80", weight = "80")
				div
					p
						| Email: 
						= " " + email
					p
						| Description:
						= " " + description
			div.slide-right
				h4 My Comics
				if (rented)
					button.btn.btn-default.col-sm-2(disabled= true)
						= comic
				else if (!rented)
					button.btn.btn-default.col-sm-2(disabled= false)
						= comic 
				button.btn.btn-default.col-sm-2
					= "Read Reviews"