extends layout

block content
	.body.center
		.col-sm-4
			h1.title.inline.slide-right 
				= " " + name
				br
				span 
					each star in [1,2,3,4,5,6,7]
						if (star <= rating)
							span &#9733
						else
							span &#9734
		.col-sm-9
			div.slide-right
				div.float-left
					img(src = image, height = "80", weight = "80")
				div
					p
						| Email: 
						= " " + email
					P
						| Name:
						= " " + name
					p
						| Description:
						= " " + description
					p
						| Favourite Genres:
						if nogenre
							= " No favourite genres have been selected"
						else
							each genre in genres
								= " " + genre.genre
			div.slide-right
				h4 My Comics
				if (rented)
					button.btn.btn-default.col-sm-2(disabled= true)
						= comic
				else if (!rented)
					button.btn.btn-default.col-sm-2(disabled= false)
						= comic
		.col-sm-9
			br
			div.slide-right
				h4 Messages
				a(href="/message")
					button.btn.btn-default.col-sm-2
						= "View Messages"
				form(name="writeMessage", action="/message/writeMessage", method="post")
					button.btn.btn-default.col-sm-2(type="submit", name="email", value= email)
						= "Write Messages" 
		.col-sm-9
			br
			div.slide-right
				h4 Reviews
				form(name="writeReview", action="/readUserReview", method="post")
					button.btn.btn-default.col-sm-2(type="submit", name="email", value= email)
						= "Read Review"
				form(name="writeReview", action="/writeUserReview", method="post")
					button.btn.btn-default.col-sm-2(type="submit", name="email", value= email)
						= "Write Review"
		.col-sm-9
			br
			div.slide-right
				if (authLevel == 0 || authLevel == 1 || authLevel == 3)
					h4 Edit Profile
					form(name="getEdit", action="/profile/edit", method="post")
						button.btn.btn-default.col-sm-2(name= "email", value= email) Edit
		.col-sm-9
			div.slide-right
				if (authLevel == 0 || authLevel == 1)
					br
					h4 Administrative
					form(name="deleteAcc", action="/profile/deleteAccount", method="post")
						button.btn.btn-default.col-sm-2(type="submit", name= "email", value= email) Delete Account
				if (authLevel == 0)
					if (profileLevel == 2)
						form(name="makeAdmin", action="/profile/makeAdmin", method="post")
							button.btn.btn-default.col-sm-2(type="submit", name= "email", value= email) Make Admin
					else if (profileLevel == 1)
						form(name="makeAdmin", action="/profile/makeAdmin", method="post")
							button.btn.btn-default.col-sm-2(type="submit", name= "email", value= email) Revoke Admin