extends layout

block content
	.body
		h1.title Sign Up
		form#signup.form-horizontal(role="form", action="/users/register", method="post")
			if emailnotempty
				#email-form.form-group
					label.control-label.col-sm-3(for="email") Email:
					.col-sm-8
						input#email.form-control(type="email", placeholder="Enter Email", name="email")
			else
				#email-form.form-group.has-error
					label.control-label.col-sm-3(for="email") Email:
					.col-sm-8
						label.control-label(for="email") Email is empty
						input#email.form-control(type="email", placeholder="Enter Email", name="email")
			if passnotempty
				.form-group
					label.control-label.col-sm-3(for="pwd") Password:
					.col-sm-8
						input#pwd.form-control(type="password", placeholder="Enter Password", name="password")
			else
				.form-group.has-error
					label.control-label.col-sm-3(for="pwd") Password:
					.col-sm-8
						label.control-label(for="pwd") Password is empty
						input#pwd.form-control(type="password", placeholder="Enter Password", name="password")
			if matching
				.form-group
					label.control-label.col-sm-3(for="pwd") Confirm Password:
					.col-sm-8
						input#pwd.form-control(type="password", placeholder="Repeat Password", name="repeatPassword")
			else
				.form-group.has-error
					label#confirm-pass.control-label.col-sm-3(for="pwd") Confirm Password:
					.col-sm-8
						label.control-label(for="pwd") Password Doesnt Match
						input#pwd.form-control(type="password", placeholder="Repeat Password", name="repeatPassword")
			div.row
				label.control-label.col-sm-3 Select your favourite genres:
			div.row
				label.control-label.col-sm-5.checkbox-inline(type="checkbox") 
					input(type="checkbox", name="genre[]", value="adventure")
					| Adventure
				label.control-label.col-sm-2.checkbox-inline(type="checkbox")
					input(type="checkbox", name="genre[]", value="action") 
					| Action
				label.control-label.col-sm-2.checkbox-inline(type="checkbox")
					input(type="checkbox", name="genre[]", value="comedy") 
					| Comedy
			div.row
				label.control-label.col-sm-5.checkbox-inline(type="checkbox") 
					input(type="checkbox", name="genre[]", value="crime")
					| Crime
				label.control-label.col-sm-2.checkbox-inline(type="checkbox")
					input(type="checkbox", name="genre[]", value="drama") 
					| Drama
				label.control-label.col-sm-2.checkbox-inline(type="checkbox")
					input(type="checkbox", name="genre[]", value="fantasy") 
					| Fantasy
			div.row
				label.control-label.col-sm-5.checkbox-inline(type="checkbox") 
					input(type="checkbox", name="genre[]", value="horror")
					| Horror
				label.control-label.col-sm-2.checkbox-inline(type="checkbox")
					input(type="checkbox", name="genre[]", value="mystery") 
					| Mystery
				label.control-label.col-sm-2.checkbox-inline(type="checkbox")
					input(type="checkbox", name="genre[]", value="nonfiction") 
					| Non-Fiction
			div.row
				label.control-label.col-sm-5.checkbox-inline(type="checkbox") 
					input(type="checkbox", name="genre[]", value="romance")
					| Romance
				label.control-label.col-sm-2.checkbox-inline(type="checkbox")
					input(type="checkbox", name="genre[]", value="scifi") 
					| Sci-Fi
				label.control-label.col-sm-2.checkbox-inline(type="checkbox")
					input(type="checkbox", name="genre[]", value="psychological") 
					| Psychological
			button.btn.btn-default.col-sm-offset-10(type="submit") Register