body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.body {
	margin-top: 80px;
	padding: 50px;
}
.title {
	padding-bottom: 20px;
	text-align: center;
}
.center{
	margin-top: 20px;
}
#not-member {
	margin-top: 8px;
}
.shaded-box {
	background-color: gray;
	height: 70px;
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
	height: 80px;
}
.navbar-brand {
	display: block;
	padding-top:0;
	margin-top: -15px;
}
#confirm-pass {
	margin-top: 25px !important;
}

.float-left {
    float: left;
    padding-right: 20px;
}

.slide-right {
    padding-left: 110px;
}
.loginbutton, .facebookbutton{
	width: 200px;
	display: block;
}
.margined{
	margin: 10px;
}

h1 {
    font-family: Consolas, monaco, monospace;
	font-size: 150px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26px;
	padding-bottom: 20px;
	text-align: left;
}

#title {
    font-size: 50px;
    margin-top: -3px;
}

.span3 {  
    height: 400px !important;
    overflow: scroll;
}